<div id= "page-content" >
	<div class="container" id ="home-container">
		<div class="jumbotron text-center text-white">
		  <h1 class="display-4">Welcome to Alpha Blog</h1>
		  <p class="lead">Alpha blog is your premier resource for all of your blogging needs.</p>
		  <hr class="my-4">
		  <p>Let's begin!</p>
		  <a class="btn btn-success btn-lg" href="#" role="button">Sign Up</a>
		</div>
	</div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
     <small>Copyright &copy; <%= link_to "Andrew Powlen", "www.ajaxblog.com", class: "text-white" %></small>
  </div>
</footer>
